<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <h2>found <%= count %> recipes:</h2>
  <ul>
    <% for (let i=0; i<results.length; i++) { %>
      <li><%= results[i].recipename %> - <%= results[i].category %></li>
    <% } %>
  </ul>
  <form method='get' action='/'>
    <input name="search" placeholder="recipe name">
    <button>Search</button>
  </form>
</body>
</html>
